<section class="flex flex-row gap-2 mt-2">
    <input 
        type="text"
        class="input input-bordered mr-2 w-56"
        [placeholder]="placeholder()"
        autofocus
        #txtSearch
        /* (keyup.enter)="onSeach(txtSearch.value)" */
        (keyup.enter)="value.emit(txtSearch.value)"
    />

    <button 
        class="btn btn-soft btn-primary"
        /* (click)="onSeach(txtSearch.value)" */
        (click)="value.emit(txtSearch.value)"
    >
        Buscar
    </button>
</section>